.primary{
    color: #C9252B;
}
.secondary{
    color: #24324D;
}
.white{
    color: #FFFFFF;
}
.font-32{
    font-size: 32px;
  }
  
  .font-24{
    font-size: 24px;
  }
  
  .font-20{
    font-size: 20px;
  }
  
  .font-16{
    font-size: 16px;
  }
  
  .font-14{
    font-size: 14px;
  }
  
  .font-12{
    font-size: 12px;
  }
  
  .font-bold{
    font-weight: 700;
  }
  
  .font-medium-bold{
    font-weight: 600;
  }
  
  .font-light-bold{
    font-weight: 500;
  }
  .cursor-pointer{
    cursor: pointer;
  }
  .text-start {
    text-align: start !important;
  }
  .modal-class {
    max-height: 86%;
    overflow-y: auto;
  }
  .line-wrap {
    word-break: break-all;
  }